/* index.js */

.login-form-modal-button {
    border: 1px solid rgba(0,0,0, 0.75);
    font-size: 18px;
    background-color: #f8f8ff;
    height: 40px;
    width: 80px;
    border-radius: 8px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: rgba(0,0,0, 0.2) 1px solid;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/* SignUpFormModal.js */

.login-form-container {
    height: 400px;
    width: 400px;
    border-radius: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px -1px 5px 5px rgba(0,0,0, 0.3);
    border: black solid 3px;
}
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form-title {
    color: black;
    font-size: 42px;
    margin: 10px 0;
}

.login-errors-container {
    font-size: 11px;
    color: 	#DC143C;
    margin: 2px;
    height: auto;
    padding: 5px;
}

.login-form-field-container {
    margin: 4px;
}

.login-form-field {
    background-color: #f8f8ff;
    border-radius: 4px;
    padding: 4px;
    border: rgba(0,0,0, 0.2) 1px solid;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    color: black;
}


.login-form-action-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.action-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 155px;
}
.login-form-register-button {
    margin-top: 15px;
    background-color: #f8f8ff;
    font-size: 18px;
    height: 40px;
    width: 80px;
    border-radius: 8px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: rgba(0,0,0, 0.2) 1px solid;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.login-form-link-home {
    color: black;
    font-size: 20px;
    margin-top: 15px;
    border: none;
    background-color: #f8f8ff;
    border: rgba(0,0,0, 0.2) 1px solid;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 8px;
    padding: 5px;
    height:40px;
    width: 40px;
}
.demouser {
    margin: 10px;
    border: rgba(0,0,0, 0.2) 1px solid;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 8px;
    width: 155px;
    background-color: #f8f8ff;
    margin-top:20px;
}

.demouser img{
    background-color: #f8f8ff;
    height:40px;
    border-radius: 8px;
    width: auto;
}