.acount-page-container {
    position: relative;
    top: 108px;
    height: auto;
    width: 100%;
    background-color: #f8f8ff;
    padding-top: 20px
}

.account-first-name {
    font-size: 32px;
    color: black;
    line-height: 36px;
    margin: 0 0 0 45px;
    background-color: #f8f8ff;
}
.account-links {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
}
.account-link-container {
    background-color: #C6C6CC;
    border: #f8f8ff 1px solid;
    width: 120px;
    height: 90px;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px 5px 5px 5px;
    color: rgba(0, 0, 0, 0.5);
}
.account-link-container-i {
    background-color: none;
}

.fav:focus {
    color: #C21E56;
    border: white 5px solid;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.75);
    background-color: none;
}

.store:focus, .review:focus {
    color: rgba(0, 0, 0, 0.75);
    border: white 5px solid;
    outline:0;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.75);
    background-color: none;
}
.account-favorites-navlink, .account-favorites-navlink :active {
    text-decoration: none;
}
.account-heart, .account-store, .account-review {
    font-size: 30px;
    color: inherit;
    background-color: transparent;
}

.account-page-lower-container {
    border: 1px solid black;
    margin: 15px 45px;
    border-radius: 18px;
}


.account-shop-container {
    display: flex;
    flex-direction: row;
}
.account-shop-container img{
    height: 200px;
    width: 200px;
    margin: 20px;
    box-shadow: 0 1px 1px rgb(0 22 36 / 8%), 0 1px 3px rgb(0 22 36 / 16%);
}

.account-shop-title {
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
    font-size: 18px;
    color: #222;
    -webkit-font-smoothing: antialiased;
    padding: 20px;
    font-weight: bold;
}

.account-shop-name {
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
    font-size: 20px;
    color: #222;
    -webkit-font-smoothing: antialiased;
    padding: 20px;
    margin-top: 75px;

}
.account-shop-description {
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
    font-size: 13px;
    color: #222;
    -webkit-font-smoothing: antialiased;
    padding: 20px;
}


.account-favorites-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.account-favorite-container {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.account-favorite-listing-name {
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
    font-size: 16px;
    color: #222;

}

.account-favorite-listing-description {
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
    font-size: 12px;
    color: #222;
    width: 80%;
}
.account-indiv-container {
    display: flex;
    flex-direction: column;
}

.account-indiv-listing {
    display: flex;
    flex-direction: row;
    padding: 20px;
}
.account-your-listings {
    padding: 20px;
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #222;
    font-size: 18px;
    font-weight: bold;
}
.account-indiv-text-container {
    padding: 20px;
    margin-left: 20px;
}

.account-indiv-name {
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
    font-size: 16px;
    color: #222;
    -webkit-font-smoothing: antialiased;
}

.account-indiv-description {
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
    font-size: 12px;
    color: #222;
    -webkit-font-smoothing: antialiased;
    width: 80%;
}

/* Shop Form */

.shop-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shop-form-container input, .shop-form-container textarea {
    width: 400px;
    padding: 4px;
    border-radius: 4px;
    margin: 10px;
    background-color: #f8f8ff;
    border: rgba(0,0,0, 0.2) 1px solid;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    color: black;
}
.shop-form-title {
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin: 10px;

}
.shop-form-location-text {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: -10px;
}

.shop-form-submit {
    width: 300px;
    margin: 10px;
    padding: 4px;
    border-radius: 8px;
    color: white;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    border: rgba(0,0,0, 0.2) 1px solid;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.account-review-item-container {
    padding: 12px;
}

#file-upload-button {
    border: rgba(0,0,0, 0.2) 1px solid;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}