.acount-page-container {
    position: relative;
    top: 108px;
    height: auto;
    width: 100%;
    background-color: #f8f8ff;
    padding-top: 20px
}

.account-first-name {
    font-size: 32px;
    color: black;
    line-height: 36px;
    margin: 0 0 0 45px;
    background-color: #f8f8ff;
}
.account-links {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
}
.account-link-container {
    background-color: #C6C6CC;
    border: #f8f8ff 1px solid;
    width: 120px;
    height: 90px;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px 5px 5px 5px;
    color: rgba(0, 0, 0, 0.5)
}

.fav:focus {
    color: #C21E56;
    border: white 5px solid;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.75);
}

.store:focus {
    color: rgba(0, 0, 0, 0.75);
    border: white 5px solid;
    outline:0;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.75);
}
.account-favorites-navlink, .account-favorites-navlink :active {
    text-decoration: none;
}
.account-heart, .account-store {
    font-size: 30px;
    color: inherit;
}

.account-page-lower-container {
    border: 1px solid black;
    margin: 15px 45px;
    border-radius: 18px;
}


.account-shop-container {
    display: flex;
    flex-direction: row;
}
.account-shop-container img{
    height: 200px;
    width: 200px;
    margin: 20px;
    box-shadow: 0 1px 1px rgb(0 22 36 / 8%), 0 1px 3px rgb(0 22 36 / 16%);
}

.account-shop-title {
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
    font-size: 18px;
    color: #222;
    -webkit-font-smoothing: antialiased;
    padding: 20px;
}
.account-shop-name {
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
    font-size: 20px;
    color: #222;
    -webkit-font-smoothing: antialiased;
    padding: 20px;
    margin-top: 75px;

}
.account-shop-description {
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
    font-size: 13px;
    color: #222;
    -webkit-font-smoothing: antialiased;
    padding: 20px;
}
.account-favorites-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.account-favorite-container {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.account-favorite-listing-name {
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
    font-size: 16px;
    color: #222;
    width: 500px;
    margin: 0 auto;
}

/* Shop Form */



