.listing-page-container {
    position: relative;
    top: 108px;
    height: auto;
    width: 100%;
    background-color: #f8f8ff;
}

.listing-page-container img {
    height: 490px;
    width: 490px;
}

.listing-image-carousel {
    height: 490px;
    width: 490px;
    
}

.owl-carousel-pic {
    height: 490px;
    width: 490px;
}

