/* TODO Add site wide styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Guardian-egyptt', Georgia, 'Times New Roman', Times, serif;
    background-color: #f8f8ff;
}