/* index.js */

.signup-form-modal-button {
    border: 1px solid rgba(0,0,0, 0.75);
    background-color: #f8f8ff;
    height: 40px;
    width: 80px;
    border-radius: 8px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px -1px 5px 1px rgba(0,0,0, 0.3);
}




/* .signup-form-exit {
    height: 30px;
    width: 30px;
    border: 1px solid black;
} */

/* SignUpFormModal.js */

.signup-form-container {
    height: 400px;
    width: 400px;
    border-radius: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px -1px 5px 5px rgba(0,0,0, 0.3);
    border: black solid 3px;
}
.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form-title {
    color: black;
    font-size: 42px;
    margin: 5px;
}

.signup-error-messages {
    font-size: 10px;
    color: 	#DC143C;
    margin: 2px;
}

.signupform-field-container {
    margin: 4px;
}
.signupform-field {
    border: 1px solid black;
    background-color: #f8f8ff;
    border-radius: 4px;
    padding: 4px;

}

.signup-form-register-button {
    margin-top: 15px;
    border: 1px solid rgba(0,0,0, 0.75);
    background-color: #f8f8ff;
    height: 40px;
    width: 80px;
    border-radius: 8px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px -1px 5px 1px rgba(0,0,0, 0.3);
}