.signup-form-modal-button {
    border: 1px solid rgba(0,0,0, 0.75);
    background-color: #f8f8ff;
    height: 40px;
    width: 80px;
    border-radius: 8px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px -1px 5px 1px rgba(0,0,0, 0.3);
}

.signup-form-exit {
    height: 30px;
    width: 30px;
    border: 1px solid black;
}


