.listing-ele-container {
    width: 226px;
    height: 184px;
}

.listing-img img{
    width: 206px;
    height: 164px;
}

.listing-container, .listing-container active {
    text-decoration: none;
}

.listing-price {
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: black;
}

.listing-link-container, .listing-button-container {
    position: absolute;
}

.listing-button-container {
    z-index: 1;
}

