.splash-page-container {
    background-image: url(../../site-images/splash-background.jpeg);
    background-attachment: local;
    background-size: cover;
    background-position: center;
    height: 800px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-origin: content-box;
}

.splash-title-circle {
    height: 400px;
    width: 400px;
    background-color: #f8f8ff;
    border-radius: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px -1px 5px 5px rgba(0,0,0, 0.3);
    border: black solid 3px;
}

.splash-title-inner-circle {
    height: 370px;
    width: 370px;
    background-color: #f8f8ff;
    border-radius: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black solid 3px;
}

.splash-title-text {
    color: black;
    font-size: 72px;
    margin: 80px auto 30px auto;
}

.splash-modal-container {
    display: flex;
    flex-direction: row;
}
.splash-login-modal, .splash-register-modal {
    background-color: white;
    margin: 0 25px 30px 25px;
}

.splash-about-text {
    color: black;
    width: 210px;
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    text-align: center;
    font-weight: 600;
}