.splash-page-container {
    background-image: url(../../site-images/splash-background.jpeg);
    background-attachment: local;
    background-size: cover;
    background-position: center;
    height: 800px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-origin: content-box;
}

.splash-title-circle {
    height: 400px;
    width: 400px;
    background-color: white;
    border-radius: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px -1px 5px 5px rgba(0,0,0, 0.3);
}

.splash-title-text {
    color: black;
    font-size: 72px;
    margin: 80px auto 30px auto;
}

.splash-modal-container {
    display: flex;
    flex-direction: row;
}
.splash-login-modal, .splash-register-modal {
    border: 1px solid rgba(0, 0, 0, 0.4);
    background-color: white;
    height: 40px;
    width: 80px;
    border-radius: 8px;
    margin: 0 25px 30px 25px;
    color: black;
    box-shadow: 0 1px 1px rgb(0 0 0 / 8%), 0 1px 3px rgb(0 0 0 / 16%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.splash-about-text {
    color: black;
    width: 210px;
    display: flex;
    flex-wrap: wrap;
}