
.account-menu-container {
    position: absolute;
    top: 0px;
    z-index: 100;
}
.fa-seedling {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 24px;
    height: 48px;
    width: 48px;
}
.account-menu {
    position: fixed;
    right: 0px;
    width: 150px;
    background-color: #f8f8ff;
    border-radius: 2px;
}

.account-menu-dropdown {
    box-shadow: 0 1px 1px rgb(0 22 36 / 8%), 0 1px 3px rgb(0 22 36 / 16%);
    padding: 10px;
}

.account-menu-dropdown-text, .account-menu-dropdown-text :active {
    color: #636F57;
    text-decoration: none;
}