/* NavBar */
.nav-component {
    width: 100%;
    border-bottom: 2px solid rgba(34, 34, 34, 0.15);
    background-color: #f8f8ff;
    position: fixed;
    top: 0;
    z-index: 1;
}

.nav-component-top {
    height: 72px;
    padding: 12px 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-site-title {
    color:#636F57;
    font-size: 40px;
    text-decoration: none;
}
.header-site-title :active {
    color:#636F57;
    text-decoration: none;
}

.nav-container-right {
    position: absolute;
    top: 12px;
    right: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.navbar-favorites-link, .navbar-favorites-link :active {
    text-decoration: none;
}
.fa-heart {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 24px;
    height: 48px;
    width: 48px;
}

.fa-heart ::before {
    text-decoration: none;
}

.nav-account-link {
    color: black;
    height: 48px;
    width: 48px;
    font-size: 24px;
}

.nav-component-bottom {
    height: 34px;
}


/* Account Button */

.account-menu-container {
    position: absolute;
    top: 0px;
    z-index: 100;
}
.fa-seedling {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 24px;
    height: 48px;
    width: 48px;
}
.account-menu {
    position: fixed;
    right: 0px;
    width: 150px;
    background-color: #f8f8ff;
    border-radius: 2px;
}

.account-menu-dropdown {
    box-shadow: 0 1px 1px rgb(0 22 36 / 8%), 0 1px 3px rgb(0 22 36 / 16%);
    padding: 10px;
}

.account-menu-dropdown-text, .account-menu-dropdown-text :active {
    color: #636F57;
    text-decoration: none;
}

/* Logout Button */

.logout-button {
    width: 150px;
    border: none;
    background-color: #f8f8ff;
    color: #636F57;
    text-decoration: none;
    box-shadow: 0 1px 1px rgb(0 22 36 / 8%), 0 1px 3px rgb(0 22 36 / 16%);
    padding: 10px;
    text-align: left;
    font-size: 16px;
    margin-top: 1.5px;
}